{{outlet}}

<h2>Prove it</h2>
<label>Email</label>
{{input type="text" value=authEmail}}
<label>Password</label>
{{input type="password" value=password}}
<button type="submit" {{action "signUserIn"}}>Log In</button>
