{{#link-to "index"}}
  <p>Go Back</p>
{{/link-to}}

<div class='sub-navigation'>
  {{#link-to "admin.settings"}}
    Settings
  {{/link-to}}
  {{#link-to "admin.projects"}}
    Projects
  {{/link-to}}
  {{#link-to "admin.posts"}}
    Posts
  {{/link-to}}
  {{#link-to "admin.resume"}}
    Resume Editor
  {{/link-to}}
</div>
{{outlet}}
