<h2>What do you want?</h2>
{{#link-to "projects"}}
  <p>I want to see JJ's projects</p>
{{/link-to}}

{{#link-to "posts"}}
  <p>I want to read JJ's posts</p>
{{/link-to}}

{{#link-to "about"}}
  <p>Who the !@*$#&% is JJ?</p>
{{/link-to}}

{{#link-to "site"}}
  <p>...I'm confused, what kind of website is this?</p>
{{/link-to}}

{{#link-to "admin"}}
  <p>This is my website</p>
{{/link-to}}
